<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.byshy.ieee_mvp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name="io.flutter.app.FlutterApplication"
            android:label="ieee_mvp"
            android:icon="@mipmap/ic_launcher">
        <!--        <meta-data android:name="com.mapbox.token" android:value="@string/mapbox_access_token"/>-->
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTop"
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize">
            <meta-data
                    android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                    android:value="true"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyClPnt79qgCCdJO7CMin9kEw1qg45PHI10"/>
    </application>
</manifest>
