<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414741771598-t4ksngv9ml0sl6s829irimsk6da6ue5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414741771598-t4ksngv9ml0sl6s829irimsk6da6ue5a</string>
	<key>API_KEY</key>
	<string>AIzaSyDxELbbiGADaw1FC5K022MzwQgc6M3Scjk</string>
	<key>GCM_SENDER_ID</key>
	<string>414741771598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byshy.ieeeMvp</string>
	<key>PROJECT_ID</key>
	<string>ieee-e46c2</string>
	<key>STORAGE_BUCKET</key>
	<string>ieee-e46c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414741771598:ios:c31139f0d316e13769da1f</string>
	<key>DATABASE_URL</key>
	<string>https://ieee-e46c2.firebaseio.com</string>
</dict>
</plist>